<div id="sliders" class="carousel sliders mt-0" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#sliders" data-slide-to="0" class="active"></li>
    <li data-target="#sliders" data-slide-to="1"></li>
    <li data-target="#sliders" data-slide-to="2"></li>
    <li data-target="#sliders" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/furanaBg.jpg" style="width: 100%">
      <div class="carousel-caption">
        <h1 class="display-2"> Welcome To Furuma Resort</h1>
        <h3>5 Star Resort</h3>
        <button type="button" class="btn btn-outline-light btn-lg">
          VIEW FURUMA RESORT
        </button>
        <button type="button" class="btn btn-primary btn-lg">Get started</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/body.jpg" style="width: 100%">
    </div>
    <div class="carousel-item">
      <img src="assets/img/body.jpg" style="width: 100%">
    </div>
    <div class="carousel-item">
      <img src="assets/img/body.jpg" style="width: 100%">
    </div>
  </div>
</div>
