<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{homePage::head}">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        th {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="~{homePage::navbar}"></nav>
<br>
<h3 class="text-center" style="font-weight: bold;color: green;font-size:40px">CUSTOMER LIST</h3>
<p th:if="${messageUpdate}">
    <span style="color: green" th:text="${messageUpdate}"></span>
</p>
<p th:if="${messageDelete}">
    <span style="color: red" th:text="${messageDelete}"></span>
</p>
<a class="nav-link" th:href="@{/customer/create}" style="font-weight: bold;font-size:20px ">Create new customer</a>
<br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Mã KH</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Giới tính</th>
            <th scope="col">CMND</th>
            <th scope="col">Email</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">SĐT</th>
            <th scope="col">Loại khách</th>
            <th scope="col">Chi tiết</th>
            <th scope="col">Sửa</th>
            <th scope="col">Xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.birthday}"></td>
            <td th:text="${customer.gender}"></td>
            <td th:text="${customer.idCard}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.address}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.customerType.name}"></td>
            <td>
                <button type="button" class="btn " style="background-color:#d4edda" id="btnView">
                    View
                </button>
                <input type="hidden" th:value="${customer.id}">
            </td>
            <td>
                <button type="button" class="btn" style="background-color: gainsboro" id="btnEdit">
                    Edit
                </button>
                <input type="hidden" th:value="${customer.id}">
            </td>
            <td>
                <button type="button" class="btn" style="background-color: burlywood" id="btnDelete">
                    <a th:href="@{/customer/delete/{id}(id=${customer.id})}"
                       onclick="return confirm('Bạn muốn xóa khách hàng này không?')"> Delete</a>
                </button>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="mr-auto ml-auto">
        <a class="btn btn-secondary btn-sm" th:href="@{/customer/list(page=${customers.number - 1})}"
           th:if="${customers.hasPrevious()}">Previous</a>
        <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>
        <a class="btn btn-secondary btn-sm" th:href="@{/customer/list(page=${customers.number + 1})}"
           th:if="${customers.hasNext()}">Next</a>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="modelId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script rel="script" src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnView").click(function () {
            $.ajax({
                type: "GET",
                url: "/customer/view/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal();
                }
            })
        })
    })
    $(document).ready(function () {
        $("#btnEdit").click(function () {
            $.ajax({
                type: "GET",
                url: "/customer/update/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal();
                }
            })
        })
    })

</script>
<footer th:replace="~{homePage::footer}"></footer>
</body>
</html>