<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Customer</title>
    <link rel="stylesheet" href="../../static/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <script src="../../static/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
    <script src="../../static/jquery/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="#{create.title}">Create customer</h1>
    <p>
        <a href="/" th:text="#{create.list}">Customer list</a>
    </p>
    <div class="panel-heading">
        <div class="panel-title" th:text="#{create.header}">Add Customer</div>
    </div>

    <form th:action="@{/saveCustomer}" th:object="${customer}" method="post" class="form-horizontal">
        <div class="form-group">
            <label th:for="*{firstName}" class="col-md-3 control-label" th:text="#{create.firstName}">First Name</label>
            <div class="col-md-9">
                <input th:field="*{firstName}" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label th:for="*{lastName}" class="col-md-3 control-label" th:text="#{create.lastName}">Last
                Name</label>
            <div class="col-md-9">
                <input th:field="*{lastName}" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label th:for="*{email}" class="col-md-3 control-label" th:text="#{craete.email}">Email</label>
            <div class="col-md-9">
                <input th:field="*{email}" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label th:for="*{province}" class="col-md-3 control-label" th:text="#{create.province}">Province</label>
            <div class="col-md-9">
                <select th:field="*{province}">
                    <option th:each="p : ${province}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <!-- Button -->
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" class="btn btn-primary" value="Create Customer">
            </div>
        </div>

    </form>
</div>
</body>
</html>