<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/bootstrap-4.6.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styleCSS.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top" th:fragment="navbar">
    <div class="container-fluid">
        <p class="navbar-brand" style="font-style: inherit">
            <img src="/images/logo1.png" width="300px" height="50px">
        </p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/}" style="color: white">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/customer/list}" style="color: white">Customer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}" style="color: white">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contract/list}" style="color: white">Contract</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contractDetail/list}" style="color: white">ContractDetail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/service/list}" style="color: white">Service</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white">Search</button>
            </form>
        </div>
    </div>
</nav>

<!--Carousel-->
<div id="sliders" class="carousel sliders" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#sliders" data-slide-to="0" class="active"></li>
        <li data-target="#sliders" data-slide-to="1"></li>
        <li data-target="#sliders" data-slide-to="2"></li>
        <li data-target="#sliders" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/body2.jpg">
            <div class="carousel-caption">
                <h1 class="display-2"> Welcome To Furuma Resort</h1>
                <h3>5 Star Resort</h3>
                <button type="button" class="btn btn-outline-light btn-lg">
                    VIEW FURUMA RESORT
                </button>
                <button type="button" class="btn btn-primary btn-lg">Get started</button>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/body1.jpg">
        </div>
        <div class="carousel-item">
            <img src="/images/body3.jpg">
        </div>
        <div class="carousel-item">
            <img src="/images/body4.jpg">
        </div>
    </div>
</div>

<footer th:fragment="footer">
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="/images/logo2.png" style="height: 50px" width="100%">
                <hr class="light">
                <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
                <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
                <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son </p>
                <p>District, Danang City, Vietnam</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Working hours</h5>
                <hr class="light">
                <p>Monday-Friday: 8am - 5pm</p>
                <p>Weekend: 8am - 12am</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Services</h5>
                <hr class="light">
                <p>Giá Công Bố</p>
                <p>Lifestyle Blog</p>
                <p>Tuyển Dụng</p>
            </div>
            <div class="col-12">
                <hr class="light-100">
                <h5>&copy; Mai Đoàn</h5>
            </div>
        </div>
    </div>
</footer>
<script src="./jquery/jquery-3.5.1.min.js"></script>
<script src="/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
</script>

</body>
</html>