<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{homePage::head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="~{homePage::navbar}"></nav>
<br>
<h3 class="text-center" style="font-size: 20px;font-weight: bold;color: green">LIST CONTRACT</h3>

<p th:if="${messageUpdate}">
    <span style="color: green" th:text="${messageUpdate}"></span>
</p>
<p th:if="${messageDelete}">
    <span style="color: red" th:text="${messageDelete}"></span>
</p>
<div class="left-panel" style="font-weight: bold;font-size:20px ">
    <a class="nav-link" th:href="@{/contract/create}">Create new contract</a>
</div>
<br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">TotalMoney</th>
            <th scope="col">Deposit</th>
            <th scope="col">StartDay</th>
            <th scope="col">EndDay</th>
            <th scope="col">CustomerName</th>
            <th scope="col">EmployeeName</th>
            <th scope="col">ServiceName</th>
            <th scope="col">Chi tiết</th>
            <th scope="col">Sửa</th>
            <th scope="col">Xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract : ${contracts}">
            <td th:text="${contract.id}"></td>
            <td th:text="${contract.totalMoney}"></td>
            <td th:text="${contract.deposit}"></td>
            <td th:text="${contract.startDay}"></td>
            <td th:text="${contract.endDay}"></td>
            <td th:text="${contract.customer.name}"></td>
            <td th:text="${contract.employee.name}"></td>
            <td th:text="${contract.service.name}"></td>
            <td>
                <button type="button" class="btn " style="background-color:#d4edda" id="btnView">
                    View
                </button>
                <input type="hidden" th:value="${contract.id}">
            </td>
            <td>
                <button type="button" class="btn" style="background-color: gainsboro" id="btnEdit">
                    Edit
                </button>
                <input type="hidden" th:value="${contract.id}">
            </td>
            <td>
                <button type="button" class="btn" style="background-color: burlywood" id="btnDelete">
                    <a th:href="@{/employee/delete/{id}(id=${contract.id})}"
                       onclick="return confirm('Bạn muốn xóa hợp đồng này không?')"> Delete</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{/contract/list(page=${contracts.number - 1})}"
                   th:if="${contracts.hasPrevious()}">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/contract/list(page=0)}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/contract/list(page=1)}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/contract/list(page=2)}">3</a></li>
            <li class="page-item">
                <a class="page-link" th:href="@{/contract/list(page=${contracts.number + 1})}"
                   th:if="${contracts.hasNext()}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Modal -->
<div class="modal" id="modelId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
<script rel="script" src="/jquery/jquery-3.5.1.min.js"></script>
<script src="/bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#btnView").click(function () {
            $.ajax({
                type: "GET",
                url: "/contract/view/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal();
                }
            })
        })
    })
    $(document).ready(function () {
        $("#btnEdit").click(function () {
            $.ajax({
                type: "GET",
                url: "/contract/update/" + $(this).next().val(),
                dataType: "HTML",
                success: function (data) {
                    $(".modal-body").html(data);
                    $("#modelId").modal();
                }
            })
        })
    })

</script>
<footer th:replace="~{homePage::footer}"></footer>
</body>
</html>