<h3 class="text-center">THÊM MỚI HỢP ĐỒNG CHI TIẾT</h3>
<form class="w-75 mx-auto mt-3" [formGroup]="formCreateNewContractDetail">
  <div class="form-row">
    <div class="form-group col-4">
      <p>ID HĐ</p>
      <input class="form-control" type="text" placeholder="HĐ-XXXX" formControlName="idContract"/>
      <p *ngIf="formCreateNewContractDetail.controls.idContract.errors?.required &&
              formCreateNewContractDetail.controls.idContract.touched" class="text-danger">
        Vui lòng nhập ID hợp đồng</p>
    </div>
    <div class="form-group col-4">
      <p>ID DV</p>
      <input class="form-control" type="text" placeholder="DV-XXXX" formControlName="idService"/>
      <p *ngIf="formCreateNewContractDetail.controls.idService.errors?.required &&
              formCreateNewContractDetail.controls.idService.touched" class="text-danger">
        Vui lòng nhập ID DV</p>
    </div>
    <div class="form-group col-4">
      <p>Số lượng</p>
      <input class="form-control" type="text" formControlName="quantity"/>
      <p *ngIf="formCreateNewContractDetail.controls.quantity.errors?.required &&
              formCreateNewContractDetail.controls.quantity.touched" class="text-danger">
        Vui lòng nhập số lượng</p>
    </div>
  </div>
</form>
<div class="mt-3 d-flex justify-content-center">
  <button [disabled]="formCreateNewContractDetail.invalid" class="btn btn-success" style="width: 100px"
          (click)="createNewContractDetail()">
    Thêm mới
  </button>
  <button class="btn btn-outline-primary ml-2" style="width: 100px"
          [routerLink]="['/contractDetail-list']">Trở lại
  </button>
</div>
