<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="bootstrap-4.6.0-dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:replace="layout::header">

    </div>
    <div class="row row-cols-1 row-cols-md-4" th:if="${items != null}">
        <th:block th:each="item : ${items}">
            <div class="col mb-3">
                <div class="card">
                    <a th:href="@{/view(id=${item.id})}" class="card-img-top">
                        <img style="height: 251px;width: 251px" th:src="${item.imageURL}" class="card-img-top"
                             th:alt="${item.name}">
                        <div class="card-body">
                            <h5 class="card-title h-50"th:text="${item.name}"></h5>
                            <div class="card-text">
                                <h6 style="color: red"><span>Giá:
                                </span><span class="card-text h-15"
                                             th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 0, 'COMMA')}"></span>
                                </h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
</div>
<script type="text/javascript" src="bootstrap-4.6.0-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="jquery/jquery-3.5.1.min.js"></script>
</body>
</html>