
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light sticky-top" >
  <div class="container-fluid">
    <p class="navbar-brand" style="font-style: inherit">
      Furama Resort
    </p>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contract</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >ContractDetail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Service</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color: white">Search</button>
      </form>
    </div>
  </div>
</nav>
n
<!--Carousel-->
<div id="sliders" class="carousel sliders" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#sliders" data-slide-to="0" class="active"></li>
    <li data-target="#sliders" data-slide-to="1"></li>
    <li data-target="#sliders" data-slide-to="2"></li>
    <li data-target="#sliders" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-caption">
        <h1 class="display-2"> Welcome To Furuma Resort</h1>
        <h3>5 Star Resort</h3>
        <button type="button" class="btn btn-outline-light btn-lg">
          VIEW FURUMA RESORT
        </button>
        <button type="button" class="btn btn-primary btn-lg">Get started</button>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">
        <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
        <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
        <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son </p>
        <p>District, Danang City, Vietnam</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Working hours</h5>
        <hr class="light">
        <p>Monday-Friday: 8am - 5pm</p>
        <p>Weekend: 8am - 12am</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>Services</h5>
        <hr class="light">
        <p>Giá Công Bố</p>
        <p>Lifestyle Blog</p>
        <p>Tuyển Dụng</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>&copy; Mai Đoàn</h5>
      </div>
    </div>
  </div>
</footer>
