<div class="container-fluid px-0" style="height: 100vh">
  <nav class="navbar navbar-expand-sm  navbar-dark rounded" style="height: 10%; background: #979296">
    <a class="navbar-brand" href="#">Furama Dang Nang</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Trang chủ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Liên hệ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Tuyển Dụng
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
    </ul>
  </nav>

  <div class="row px-0 mx-0" style="height: 90%">
    <div class="col-2 px-0 mx-0">
      <div class="list-group border border-primary rounded h-100">
        <a href="#" class="list-group-item list-group-item-action active" [routerLink]="['']">Home</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['customer-list']">Customer Management</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['employee-list']">Employee Management</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['services-list']">Service Management</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['contract-list']">Contract Management</a>
        <a href="#" class="list-group-item list-group-item-action" [routerLink]="['contractDetail-list']">Contract Detail Management</a>
      </div>
    </div>
    <div class="col-10 p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

