<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h3 th:if="${successMsg}" th:text="${successMsg}" style="color: red"></h3>
<!--<a href="/student/create">Create</a>-->
<a th:href="@{/student/create}">Create</a>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Languages</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="student:${studentList}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:switch="${student.gender}">
                <span th:case="0">Female</span>
                <span th:case="1">Male</span>
                <span th:case="*">LGBT</span>
            </td>
            <td>
                <span th:each="lang:${student.language}" th:text="${lang} + ' '"></span>
            </td>
        </tr>
    </tbody>
</table>

<div th:insert="~{layout::footer}">

</div>

</body>
</html>