
<a [routerLink]="['/customer-create']">Create Customer</a>
<p style="color: green">{{message}}</p>

<h3>List customer</h3>

<table class="table table-hover table-striped">
  <tr>
    <th>No</th>
    <th>Customer Id</th>
    <th>Customer Name</th>
    <th>Date of birth</th>
    <th>Id Card</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Address</th>
    <th colspan="2">Action</th>
  </tr>
  <ng-container *ngFor="let customer of customerList; let i = index">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{customer.customerId}}</td>
      <td>{{customer.customerName}}</td>
      <td>{{customer.birthday}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.address}}</td>
      <td><a class="btn btn-warning" [routerLink]="['/customer-detail', customer.customerId]">Detail</a></td>
      <td><a class="btn btn-danger" [routerLink]="['/customer-update', customer.customerId]">Update</a></td>
      <td><a class="btn btn-info" [routerLink]="['/customer-delete', customer.customerId]">Delete</a></td>
    </tr>
  </ng-container>
</table>
