<div class="row" style="height: 20%">
  <div class="col-3 px-0 mr-5">
    <img src="assets/img/logo2.png" style="height: 120px">
  </div>
  <div class="col-2 card border-0 mt-2 px-0 ml-4">
    <img class="h-25" src="assets/img/logo3.png" style="width:70%; height: 70%">
    <img class="h-25" src="assets/img/logo4.png" style="width:70%; height: 70%">
    <div class="card-body px-0 d-flex justify-content-between">
      <h6>2,746 Reviews</h6>
    </div>
  </div>
  <div class="col-3 px-0 mt-4 ml-2 mr-2 mat-icon">
    <p class="d-flex justify-content-between">
      <span><mat-icon aria-hidden="false" aria-label="Example delete icon">location_on</mat-icon></span>
      103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam
    </p>
  </div>
  <div class="col-3 px-0 mt-4 mr-4 mat-icon card border-0">
    <p class="d-flex">
      <span><mat-icon aria-hidden="false" aria-label="Example local_phone">local_phone</mat-icon></span>
      84-236-3847 333/888
    </p>
    <p class="d-flex">
      <span><mat-icon aria-hidden="false" aria-label="Example local_phone">local_post_office</mat-icon></span>
      reservation@furamavietnam.com
    </p>
  </div>
</div>
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <div class="menu navbar-nav w-100 js-main-menu" id="navbarResponsive">
      <ul class="navbar-nav mr-auto  font-weight-bold">
        <li class="nav-item mr-5 ">
          <a class="nav-link " [routerLink]="['']">Trang chủ</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link " [routerLink]="['customer-list']">Khách hàng</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link " [routerLink]="['employee-list']">Nhân viên</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link " [routerLink]="['services-list']">Dịch vụ</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" [routerLink]="['contract-list']">Hợp đồng</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link " [routerLink]="['contractDetail-list']">Hợp đồng chi tiết</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" [routerLink]="['#']">Thông tin tuyển dụng</a>
        </li>
        <li class="nav-item mr-5">
          <a class="nav-link" [routerLink]="['#']">Đăng nhập</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p>
</p>
