<app-name-card cardName="Professional Dev" email="prodev@abc.xyz" phone="0123456789"></app-name-card>

<app-progress-bar [width]="65"></app-progress-bar>

<app-countdown-time [seconds]="6"></app-countdown-time>

<!--<app-countdown-time-alias [remaining-time]="60"></app-countdown-time-alias>-->

<!--<app-countdown-timer-event [seconds]="10" (finish)="finishCountdown()"></app-countdown-timer-event>-->
<!--<p>{{ countdownMsg }}</p>-->

<app-rating-bar [max]="10" (rateChange)="onRateChange($event)"></app-rating-bar>
