<div class="row justify-content-between">
  <h2>DANH SÁCH KHÁCH HÀNG</h2>
  <div class="d-flex">
    <input class="form-control mr-2" type="text" style="width: 400px;height: 50px"
           placeholder="Tìm kiếm theo tên nhân viên"  [(ngModel)]="term"/>
    <button class="btn btn-outline-success">Tìm kiếm</button>
  </div>
</div>
<div class="row mt-3 px-3">
  <button class="btn btn-success" [routerLink]="['/customer-create']">Thêm mới khách hàng</button>
  <table class="table table-striped table-hover mt-3" style="font-size: 12px">
    <thead>
    <tr>
      <th>ID</th>
      <th>Loại Khách</th>
      <th>Họ và tên</th>
      <th>Ngày sinh</th>
      <th>Số CMND</th>
      <th>Email</th>
      <th>SĐT</th>
      <th>Địa chỉ</th>
      <th>Lựa chọn</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers |filter:term
    |paginate: { itemsPerPage: 2, currentPage: p }">
      <td>{{customer.id}}</td>
      <td>{{customer.customerType}}</td>
      <td>{{customer.fullName}}</td>
      <td>{{customer.dateOfBirth}}</td>
      <td>{{customer.idCard}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.address}}</td>
      <td style="width: 12%">
        <button class="btn btn-sm btn-warning mr-2" [routerLink]="['/customer-edit/'+customer.id]">Sửa</button>
        <button class="btn btn-sm btn-danger" (click)="openDialog(customer.id)">Xoá</button>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
