<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/student/layout::head}">

</head>
<body>
<form action="/student/create" method="post" th:object="${student}">
    <div>
        <label>Name:</label>
        <input type="text"  th:field="*{name}"/>
    </div>
    <div>
        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="0" />Female
        <input type="radio" th:field="*{gender}" value="1" />Male
        <input type="radio" th:field="*{gender}" value="2" />LGBT
    </div>
    <input type="submit" value="Create">
</form>

<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script>
    $(document).on("contextmenu", function (e) {
        e.preventDefault();
    });

    $(document).keydown(function (event) {
        if (event.keyCode == 123) { // Prevent F12
            return false;
        } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
            return false;
        }
    });
</script>
</body>
</html>