<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{homePage::head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="~{homePage::navbar}"></nav>
<br>
<h3 class="text-center" style="font-size: 20px;font-weight: bold;color: green">LIST SERVICE</h3>
<div class="left-panel" style="font-weight: bold;font-size:20px ">
    <a class="nav-link" th:href="@{/service/create}">Create new service</a>
</div>
<br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID service</th>
            <th scope="col">Service Name</th>
            <th scope="col">Area</th>
            <th scope="col">Cost</th>
            <th scope="col">Max of People</th>
            <th scope="col">Rent Type</th>
            <th scope="col">Service Type</th>
            <th scope="col">Number floors</th>
            <th scope="col">Pool Area</th>
            <th scope="col">Standard room</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>
            <td th:text="${service.area}"></td>
            <td th:text="${service.cost}"></td>
            <td th:text="${service.maxPeople}"></td>
            <td th:text="${service.rentType.name}"></td>
            <td th:text="${service.serviceType.name}"></td>
            <td th:text="${service.numberOfFloors}"></td>
            <td th:text="${service.poolArea}"></td>
            <td th:text="${service.standardRoom}"></td>
            <td th:text="${service.descriptionOtherConvenience}"></td>
        </tr>
        </tbody>
    </table>
    <div class="mr-auto ml-auto">
        <a class="btn btn-secondary btn-sm" th:href="@{/service/list(page=${services.number - 1})}"
           th:if="${services.hasPrevious()}">Previous</a>
        <span th:text="${services.number+1}"></span>/<span th:text="${services.totalPages}"></span>
        <a class="btn btn-secondary btn-sm" th:href="@{/service/list(page=${services.number + 1})}"
           th:if="${services.hasNext()}">Next</a>
    </div>
</div>
<footer th:replace="~{homePage::footer}"></footer>
</body>
</html>