<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{homePage::head}">
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<nav th:replace="~{homePage::navbar}"></nav>
<br>
<h3 class="text-center" style="font-size: 20px;font-weight: bold;color: green">LIST SERVICE</h3>
<div class="left-panel" style="font-weight: bold;font-size:20px ">
    <a class="nav-link" th:href="@{/service/create}">Create new service</a>
</div>
<br>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID service</th>
            <th scope="col">Service Name</th>
            <th scope="col">Area</th>
            <th scope="col">Cost</th>
            <th scope="col">Max of People</th>
            <th scope="col">Rent Type</th>
            <th scope="col">Service Type</th>
            <th scope="col">Number floors</th>
            <th scope="col">Pool Area</th>
            <th scope="col">Standard room</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="service : ${services}">
            <td th:text="${service.id}"></td>
            <td th:text="${service.name}"></td>
            <td th:text="${service.area}"></td>
            <td th:text="${service.cost}"></td>
            <td th:text="${service.maxPeople}"></td>
            <td th:text="${service.rentType.name}"></td>
            <td th:text="${service.serviceType.name}"></td>
            <td th:text="${service.numberOfFloors}"></td>
            <td th:text="${service.poolArea}"></td>
            <td th:text="${service.standardRoom}"></td>
            <td th:text="${service.descriptionOtherConvenience}"></td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" th:href="@{/service/list(page=${services.number - 1})}"
                   th:if="${services.hasPrevious()}">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/service/list(page=0)}">1</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/service/list(page=1)}">2</a></li>
            <li class="page-item"><a class="page-link" th:href="@{/service/list(page=2)}">3</a></li>
            <li class="page-item">
                <a class="page-link" th:href="@{/service/list(page=${services.number + 1})}"
                   th:if="${services.hasNext()}">Next</a>
            </li>
        </ul>
    </nav>
</div>
<footer th:replace="~{homePage::footer}"></footer>
</body>
</html>